/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 900px;
}

.header{
}

.custom-logo{
  width: 30%;
}


#content {
  //clear: both;
  margin-top: 3em;
  display: inline;

}

#inner-content{
//  border: 2px solid $gray-l25;
}

#main {
  //width: 61%;
  padding-left:.1rem;
  margin-right: 0;
  padding-right: 0;
  border-radius: 0;
  //border-right: 2px solid $gray-l25;
  border-bottom: 0;

}

.entry-content img{
  width: 100%;
}

.sidebar{
  padding: 0;
//  margin: 0;
//  width:36%;
//  

}

.widget-activity-type{
  padding-left: 0;
  font-size: 1rem;
}

.widget ul li{
  margin-bottom: 0.1rem;
}
