/******************************************************************
Site Name:
Author:

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

.wrap {
  //width: 1239px;
  //padding: 0;
  //margin: 0;
}

#inner-content{
//	border-top: 0;

}

#main {
//  width: 65%;
}



.sidebar {
	margin-top: 2rem;
	float: right;
  //width :32%;
  margin-left: 1rem;
  border-radius: 0;
  border: 2px solid $gray-l25;
}
